<p>Bonjour <%= @email %>!</p>

<p>Vous pouvez confirmer votre inscription au site web Carnet d'Adresses en cliquant sur le lien ci dessous:</p>

<p>
  <% if @resource.profile.name == "Abonné" %>
    <%= link_to 'Confirmer mon compte', "http://41.189.40.193:4040/confirmation.php?confirmation_token=#{@resource.confirmation_token}" %>
  <% else %>
    <%= link_to 'Confirmer mon compte', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) rescue link_to 'Confirmer mon compte', "http://#{CarnetDadresse::Application.config.action_mailer.default_url_options[:host]}/users/confirmation?confirmation_token=#{@resource.confirmation_token}" %>
  <% end %>
</p>
