<p>Bonjour <%= @resource.email %>!</p>

<p>Quelquun a émis une requête de changement de votre mot de passe. Vous pouvez le faire par le biais du lien ci dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si vous n''êtes pas l'auteur de cette requête, veuillez ignorer ce message.</p>
<p>Votre mot de passe ne changera pas tant que vous n'aurez pas cliqué sur le lien ci dessous et entré un nouveau.</p>
