<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Bonjour, </h4>

    <p>
      L'abonnement au site Carnet d'Adresses CI de <%= @user.firstname %> <%= @user.lastname %> [ <%= @user.email %> ] a été <%= @status ? 'activé' : 'suspendu' %>.
    </p>

    <p>
      A bientôt.
    </p>
  </body>
</html>
