<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Bonjour, </h4>

    <p>
      Un nouveau thème de forum a été ajouté au site Carnet D'Adresses CI: [ <%= @forum_theme.title %> ].
    </p>

    <p>
      A bientôt.
    </p>
  </body>
</html>
